<ion-content>
<br><br>
  <img style="width:200px;height:200px;" src="assets/logo2.jpg" class="logo"/>
          <div class="title">
            <h1>Welcome back!</h1>
            <P>Login to your Account</P>
          </div>
          <br>
          <ion-card>
            <ion-item>
            <ion-icon name="person"></ion-icon>
            <ion-input placeholder="Username" ></ion-input>
          </ion-item>
          </ion-card>    
          <ion-card>
            <ion-item>
            <ion-icon name="key"></ion-icon>
            <ion-input placeholder="Password" type="password" ></ion-input>
            </ion-item>
          </ion-card>  
<div>
<ion-button color="tertiary" expand="block" shape="round" href="home">Sign In</ion-button>
<ion-button size="medium" color="secondary" fill="clear" expand="block" href="register">Sign up here</ion-button>

</div>

</ion-content>


