<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary">Test Application</ion-card-title>
        <ion-card-subtitle>Login</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button size="small" color="medium" fill="clear" expand="block">Forgot email/password?</ion-button>
        <ion-button color="tertiary" expand="block">LOGIN</ion-button>
        <ion-button fill="clear" color="tertiary" expand="block">REGISTER</ion-button>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
