ion-content{
    --background: rgb(194, 226, 224);
}

ion-button{
    text-transform: initial;
}

.logo {
    border-radius: 50% !important;
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;
}
.title{
    color:black;
    text-align: center;
    font-weight: bold;
}

